@use '../custom' as *;
@use '../base/mixins' as m;


body{
    padding-top: 30px;
}

.anuncio {
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: $azul;
    display: flex;
    align-items: center; /* Alineación vertical en el centro */
    justify-content: center; /* Alineación horizontal en el centro */
    height: 5vh; /* Ajusta la altura según tus necesidades */
}

.return_button{
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior según tus necesidades */
    right: 20px; /* Ajusta la distancia desde el borde derecho según tus necesidades */

    .button{
        & img:hover{
            transform: scale(1.2);
            transition: 0.5s ease;
        } 
    }
}

.resaltar{
    color: yellow;
}

.anuncio p{
    margin: 0;
    font-weight: bold;
}

.contenido-anuncio{
    color: white;
}

.header {
    @include m.background-image('../img/banner1.webp');
}

.funtions{
    background-color: $gris_claro;
}

.logo{
    width: 10rem;
}

.registro{
    background-image: url(../img/bannerParenly1.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70%;
    overflow: hidden;
}

.pipedriveWebForms{
    background-color: rgba($color: white, $alpha: 0.5);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;      
}




// h1 {
    
//     text-shadow: 2px 0 #475569, -2px 0 #475569, 0 2px #475569, 0 -2px #475569,
//     1px 1px #475569, -1px -1px #475569, 1px -1px #475569, -1px 1px #475569;
//   }

